credentials.json
google-service-account.json
config.json
Pipfile.lock
config.yaml
credentials.py
userCredentials.py
linkDeProxy.py

utilities

notes.org
test.py
todo.org
todo.org_archive

__pycache__/
Pipfile.lock
